
/* 1 arajadranq */
.di {
	font-family: serif;
	font-size: 30px;
	text-align: right;
	color: #39951c;
}

/* 2. */
.hh {
	font-size: 50px;
}

/* 3 */
.pp {
	width: 50%;
	position: relative;
	left: 200px;
	text-align: justify;
	margin: 10px 50px;
	padding: 20px 100px;
	border: 2px solid blue;

}

.hj {
	font-size: 60px;
	color: blue;
	font-weight: 900;
	font-variant: small-caps;
	text-shadow: 0 0 20px black;
	text-align: center;
	letter-spacing: 3px;

}

/*     4     */
img {
	border: 10px solid chocolate;
	box-shadow: 0 10px 50px black;
	width: 500px;
	height: 300px;
	background-size: cover;
	margin: 50px;

}
img .cat1:hover {
	
}
/*   5   */
fieldset {
	padding: 2px 20px;
	margin: 0 10px;
	border: 1px dotted black;
	background-color: #FDF5B8;
}

legend {
	font-family: cursive;
	font-weight: 900;
	font-size: 30px;
	padding: 10px 10px;
	font-variant: small-caps;
}

/*    6   */
button {
	width: 200px;
	height: 50px;
	border-radius: 20px;
	background-color: blueviolet;
	box-shadow: 0 0 20px black;
}

button:hover {
	background-color: blue;
	color: white;
	transform: scale(1.1);
	font-size: 40px;

}

/*   7   */
footer {
	width: 100%;
	text-align: center;
	font-size: 50px;
	color: rgb(60, 179, 113);
}

@media screen and (max-width: 680px) {
	body {
		background: red;
	}
}